


/*@media screen and (min-width: 480px) and (max-width: 1200px){*/

/*}*/







@media only screen and (max-width: 767px) {
    .box, .box-1{
        float: none;
        width: auto;
        margin: 10px;
        /* box-sizing: border-box; */
     }
    
}



